a {
  color: #C8A277;
}

a:hover {
  color: #96734B;
}
.btn-primary {
  background-color: #C8A277;
  border-color: #C8A277;
}

.btn-primary:hover {
  background-color: #96734B;
  border-color: #96734B;
}


